.user-type {
    margin: auto;
}

.sidenav-user-container {
    margin: 3px 5px;
    display: flex;
}

.user-type>b{
    font-size: 20px;
}

mat-nav-list a{
    display: flex;
    margin: 10px;
    font-size: 15px;
}